<div class="container">
  <div class="form-section">
    <h3 class="heading">CBRNE</h3>

    <div class="form-group">
      <div class="radio-container">
        <div class="radio-box">
          <ng-container *ngFor="let type of checkboxList">
            <p-radiobutton [inputId]="type" name="attackType" [value]="type" [(ngModel)]="newRecord.selectedType"
              (onClick)="onTypeChange()"></p-radiobutton>
            <label [for]="type">{{ type | titlecase }}</label>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="agent-container">
      <div class="form-group">
        <p-select [options]="filteredAgentsList" [(ngModel)]="newRecord.agents" placeholder="Select Agent Type"
          class="dropdown" optionLabel="label"></p-select>
      </div>

      <div class="form-group">
        <p-datepicker [(ngModel)]="newRecord.dateTime" hourFormat="24" class="calendar" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"></p-datepicker>
      </div>

      <div class="form-group">
        <p-select [options]="payloadList" [(ngModel)]="newRecord.payload" placeholder="Select Payload" class="dropdown"
          optionLabel="label"></p-select>
      </div>

      <div class="form-group">
        <input pInputText type="text" [(ngModel)]="newRecord.location" class="input-text" placeholder="Location" />
      </div>

      <div class="form-group">
        <p-select [options]="delieverByList" [(ngModel)]="newRecord.delieverBy" placeholder="Select Mode"
          class="dropdown" optionLabel="label"></p-select>
      </div>

      <div class="form-group">
        <textarea rows="5" cols="30" pTextarea [(ngModel)]="newRecord.remarks" placeholder="Remarks"></textarea>
      </div>
    </div>

    <button type="button" (click)="addRecord()" class="btn-submit">Submit</button>
  </div>

  <!-- Data Table -->
  <p-table #dt [value]="records" [paginator]="true" [rows]="5" [responsiveLayout]="'scroll'" class="data-table">
    <ng-template pTemplate="header">
      <tr>
        <th>Type of Attack</th>
        <th>Agent</th>
        <th>Date Time</th>
        <th>Payload (Kg)</th>
        <th>Location</th>
        <th>Actions</th>
      </tr>
    </ng-template>
  
    <ng-template pTemplate="body" let-record>
      <tr>
        <td>{{ record.typeofattacks }}</td>
        <td>{{ record.agents.label }}</td>
        <td>{{ record.dateTime | date : "short" }}</td>
        <td>{{ record.payload.label }}</td>
        <td>{{ record.location }}</td>
        <td>
          <button type="button" class="btn-edit" (click)="editRecord(record)">
            Edit
          </button>
          <button type="button" class="btn-delete" (click)="deleteRecord(record.id)">
            Delete
          </button>
          <button type="button" class="btn-delete" (click)="next()">
            Next
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>